/* ======== Additional Info ======== */

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

/* ======== Major ======== */
.majorContainer {
  margin-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}


.radioInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
}

.radioInput input[type="radio"] {
  display: none;
  width: 100%;
}

.radioInput label {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radioInput label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radioInput input[type="radio"]:checked+label:before {
  background-color: green;
  top: 0;
}

.radioInput input[type="radio"]:checked+label {
  background-color: royalblue;
  color: #fff;
  border-color: rgb(129, 235, 129);
  animation: radio-translate 0.5s ease-in-out;
}

.radioInput input[type="radio"]:checked:disabled+label:before {
  background-color: gray;
  top: 0;
}

.radioInput input[type="radio"]:checked:disabled+label {
  background-color: lightgray;
  color: #fff;
  border-color: gray;
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* ========== Skills/Technologies ========== */
.skillsContainier {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillsContainier>div {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0.5rem 0 1rem 0;
}

.skillWrapper>label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  margin: 0.2rem auto;
}

.skillWrapper>label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.skillWrapper>label input:checked~.checkboxSpan {
  background-color: royalblue;
  border-color: royalblue;
}

.skillWrapper>label input:checked~.checkboxSpan:after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 13px;
  color: white;
}

.skillWrapper>label input:checked:disabled~.checkboxSpan {
  background-color: lightgray;
  border-color: gray;
}

.skillWrapper>label input:checked:disabled~.checkboxSpan:after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 13px;
  color: #000;
}

/* ========== Experience ========== */

.radioWrapper {
  margin-bottom: 20px;
}

.radioButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radioButton:hover {
  transform: translateY(-2px);
}

.radioButton input[type="radio"] {
  display: none;
}

.radioCheckmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 50%;
}

.radioCheckmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: royalblue;
  transition: all 0.2s ease-in-out;
}

.radioButton input[type="radio"]:checked~.radioCheckmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radioButton input[type="radio"]:checked:disabled~.radioCheckmark:before {
  transform: translate(-50%, -50%) scale(1);
  background-color: darkgray;
}

.radioLabel {
  font-size: 1.3rem;
  font-weight: 600;
}

/* ====================== */

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkboxContainer>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxContainer>div>label {
  cursor: pointer;
}

/* ============== NEW STYLE ============== */
.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.mappedExperiences {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.radioInput>div {
  width: 12rem;
}