/* ========== Birthdays ========== */
.birthdaysContainer {
  width: 96%;
  color: var(--dark);
}

.userCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* color: var(--white); */
  font-size: 1.1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.userCard {
  /* color: var(--white); */
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userCard:nth-child(even) {
  color: var(--dark);
  background-color: var(--oddUserGray);
}

.userCard:nth-child(odd) {
  color: var(--dark);
}

.bDayInfoContainer h5:nth-child(odd) {
  color: var(--dark);
}

.TodayBirthDay {
  padding: 0.5rem 0;
  background-color: var(--white);
  color: limegreen;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* ============= AVATAR STYLE ============= */
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  border: 1px solid var(--violet-11);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--violet-11);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

.noBirthDay {
  font-size: 3rem;
}