.chatLayoutContainer {
	margin: auto 3rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	user-select: text;
}

.chatPlace {
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 5rem);
	box-shadow: 0 0 2px darkgray;
	/* background-color: var(--accent-4); */
	background-color: #F5F5F5;
	border-radius: 8px;
}


/** ========== Users Sidebar ========== */
.usersSidebar {
	flex: 1;
	padding: 2rem 1rem;
	background-color: #fff;
	box-shadow: 0 0 10px lightgray;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: sticky;
	top: 1rem;
}
.usersListContainer > div {
	margin-top: 0.5rem;
}

.userCard {
	position: relative;
	display: flex;
	cursor: pointer;
	transition: all 0.2s;
}

.userCard:hover {
	background-color: rgb(220, 220, 220);
}

.userCard img {
	object-fit: fill;
	aspect-ratio: 3/4;
}

.unreadMsg {
	font-size: 1.6rem;
	position: absolute;
	right: 1rem;
	top: 0.3rem;
	padding: 0rem 0.8rem;
	text-align: center;
	color: royalblue;
	border-radius: 50%;
}

/* ======================================== */


/** =============== Chatting Place  =============== */

.conversationPath {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.receiverHeader {
	padding: 0.8rem 1rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	gap: 0.7rem;
	/* background-color: #555; */
	background-color: #2196F3;
	
	z-index: 2;
	border-radius: 8px 8px 0 0;
	box-shadow: 0 2px 4px lightgray;
	color: #fff;
	font-weight: 500;
}

.receiverHeader img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: fill;
	aspect-ratio: 3/4;
}

.receiverHeader>span {
	font-size: 1.8rem;
}

.chatInputPart {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.chatInputPart>input {
	width: 100%;
	padding: 0.7rem;
	font-size: medium;
}

.chatInputPart>button {
	padding: 0.7rem;
	border: none;
}
.unreadMessageLine{
	position: relative;
	height: 2px;
	border: 10px;
	width: 100%;
	background-color: royalblue;
	margin: 1rem auto;
}
.unreadMessageLine > p{
	position: absolute;
	top: -0.7rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 0 0.5rem;
	border-radius: 5px;
	font-size: 1.2rem;
}