/* ========== Update Profile Header ========== */

.profileUpdateHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: var(--white);
}

.profileUpdateHeader h2 {
  padding: 1rem;
}

.profileUpdateHeader div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profileUpdateHeader div img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: fill;
  object-position: center;
  border-radius: 8px;
}

.btnStyles {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  margin-top: 1.5rem;
}

.btnStyles button {
  padding: 0.4rem 1.5rem;
  font-size: 1.3rem;
  color: var(--white);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.btnStyles .editBtn {
  background-color: var(--evenUserGray);
}

.btnStyles .editBtn:hover {
  background-color: transparent;
  border: 1px solid var(--dark);
}

.btnStyles .saveBtn {
  background-color: rgb(25, 157, 25);
}

.btnStyles .saveBtn:hover {
  background-color: transparent;
  border: 1px solid rgb(25, 157, 25);
  color: rgb(25, 157, 25);
}

.btnStyles .cancelBtn {
  background-color: red;
}

.btnStyles .cancelBtn:hover {
  border: 1px solid red;
  background-color: transparent;
  color: red;
}

/* ========== Update Profile Form ========== */

.updateProfileForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;
  color: var(--dark);
}

/* ========== Img Style ========== */
.ProfleImgContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.EditImgComponentContainer {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  box-shadow: 0 0 3px gray;
}

/* Upload Image Component */
.uploadImageComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  gap: 0.6rem;
}

.profileImgContainer img {
  width: 15rem;
  height: 15rem;
  object-fit: fill;
  object-position: center;
  border-radius: 8px;
}

.uploadImageComponent {
  position: relative;
}

.uploadImageComponent > input {
  position: absolute;
  width: 14rem;
  opacity: 0;
  z-index: 2;
}

.uploadImageComponent > button {
  z-index: 1;
  top: 0;
  left: 0;
}

/* Fullname, Username, Email, Password, Address, Date of Birth */
.inputContainer > input,
.inputContainer > label,
.inputContainer > textarea {
  font-size: medium;
}

.inputContainer > textarea::placeholder {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.emailChanger {
  position: relative;
}

.emailChanger > div i {
  position: absolute;
  top: 2.7rem;
  right: 0;
  padding: 0 1rem;
  padding-top: 0.3rem;
  font-size: x-large;
  background-color: gray;
  color: #fff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.passwordChanger {
  position: relative;
}

.passwordChanger > div i {
  position: absolute;
  right: 0;
  top: 2.4rem;
  padding-left: 0.5rem;
  font-size: x-large;
  color: royalblue;
  background: #fff;
  cursor: pointer;
}

/* Phone Number */
.PhoneNumberInputContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  box-shadow: 0 0 3px gray;
}

.userPhoneNumber {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.userPhoneNumberList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  gap: 0.2rem 1rem;
  margin-bottom: 3rem;
}

.userPhoneNumberListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.addBtn {
  width: 100%;
  padding: 0.5rem 1.8rem;
  font-size: 1.2rem;
}

.deleteBtn {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  border: 1px solid red;
  color: red;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.deleteBtn:hover {
  background-color: rgb(230, 13, 13);
  color: #fff;
}

.uploadResumeComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  gap: 0.6rem;
  position: relative;
}

.uploadResumeComponent > input {
  position: absolute;
  width: 14rem;
  opacity: 0;
  z-index: 2;
}

.uploadResumeComponent > p {
  font-size: 1.2rem;
  margin-left: -11rem;
  margin-top: 1rem;
}

/* ========== NEW STYLE ========== */
.NamesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 1.5rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.inputContainer > input {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  padding-top: 0.4rem;
}

.inputContainer > textarea {
  border-radius: 2px;
  outline: none;
  border: 1px solid gray;
  padding: 0.5rem;
}

.EmailBioAddressContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.mainTopLeft {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.mainTopRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.userProfileContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.left {
  display: block;
  flex: 1;
  box-shadow: 0 0 3px gray;
  border-radius: 4px;
}

.right {
  width: fit-content;
}

.right > div {
  box-shadow: 0 0 2px gray;
  padding: 1rem 3rem;
}

.logOutBtn {
  padding: 0.4rem 1.5rem;
  font-size: 1.3rem;
  color: var(--white);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.logOutBtn {
  background-color: red;
}

.logOutBtn:hover {
  border: 1px solid red;
  background-color: transparent;
  color: red;
}

.MajorExperienceTechnalogiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.MajorExperienceTechnalogiesContainer > div {
  padding: 1.5rem 2rem;
  width: 100%;
  box-shadow: 0 0 3px gray;
}

.PhoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
}

.PhoneNumber > code {
  padding: 0.3rem;
  border: 1px solid royalblue;
}

.deleteIcon {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(231, 71, 71);
  color: rgb(231, 71, 71);
  height: max-content;
  width: max-content;
  transition: all 0.2s;
}

.deleteIcon:hover {
  background-color: rgb(231, 71, 71);
  color: #fff;
}

.PhoneNumberResumesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/** =============== NEW STYLE =============== */
.AddCandidateUniversityContainer {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem;
  position: relative;
}

.AddUniversityContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px gray;
  padding: 3rem;
  position: relative;
}

.AddEducationButton {
  position: absolute;
  top: 0;
  right: 0;
}

.UniversityDegreeYearContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

.SelectDegree {
  width: fit-content;
}

.SelectMajor {
  flex: 1;
}

.SelectDegree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.SelectMajor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SelectStudiedYear {
  flex: 1;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.UniversityNameLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.UniversityNameLocation label {
  width: 100%;
}

.CustomTechContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.TechListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  margin-top: 1rem;
}

.techCard {
  display: flex;
  gap: 0.3rem;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  border: 1px solid royalblue;
  position: relative;
}

.CustomTechDeleteButton {
  position: absolute;
  width: 2.2rem;
  right: -0.8rem;
  top: -0.8rem;
  background-color: blue;
  border-radius: 50%;
}

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.ScrollAreaRoot {
  width: 200px;
  height: 225px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a7);
  background-color: white;
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: var(--black-a6);
  transition: background 160ms ease-out;
}

.ScrollAreaScrollbar:hover {
  background: var(--black-a8);
}

.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}

.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--mauve-10);
  border-radius: var(--scrollbar-size);
  position: relative;
}

/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: var(--black-a8);
}

.Text {
  color: var(--violet-11);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.Tag {
  color: var(--mauve-12);
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  border-top: 1px solid var(--mauve-6);
  padding-top: 10px;
}

/* ======== TOAST STYLES ======== */

.toastContainer {
  position: absolute;
  max-width: 350px;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  animation: toastAnimate 0.2s ease-in-out forwards 0.15s 1 normal running;
  opacity: 0;
  background-color: royalblue;
  border-radius: 8px;
  color: #fff;
}
.toastContainer__phoneNumber {
  position: absolute;
  width: 300px;
  padding: 2rem 1rem;
  right: 0;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: toastAnimate 0.2s ease-in-out forwards 0.15s 1 normal running;
  opacity: 0;
  background-color: royalblue;
  border-radius: 8px;
  color: #fff;
}

@keyframes toastAnimate {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.toastContainer > button,
.toastContainer__phoneNumber > button {
  width: fit-content;
  padding: 0.2rem 0.6rem;
  background-color: rgb(253, 86, 111);
  border-radius: 4px;
  outline: 2px solid orangered;
  outline-offset: 2px;
}

.changePasswordBtn {
  background-color: rgb(93, 123, 212);
  border: 1px solid royalblue;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.changePasswordBtn:hover {
  background-color: transparent;
  border: 1px solid royalblue;
  color: royalblue;
}
