.PopUpWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.PopUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 6px;
  padding: 2rem 3rem;
  box-sizing: border-box;
  overflow: auto;
  z-index: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  max-width: 450px;
  animation: UpdatePasswordPopUp 0.2s ease-in-out;
}

@keyframes UpdatePasswordPopUp {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.PopUpHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.PopUpHeader>span:first-child {
  font-size: 1.7rem;
  font-weight: 600;
}

.PopUpHeader>span:last-child {
  font-size: 1.5rem;
  color: gray;
  font-weight: 400;
}

.InputContainer {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.InputContainer>button:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

.Loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(82, 82, 82, 0.5);
  display: grid;
  place-items: center;
}

.Loader>div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #000;
  animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}