.resumeDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeDetailsWrapper {
  width: 96%;
  height: 100vh;
  padding: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.resumeDetailsWrapper>div {
  height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  /* background-color: var(--white); */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 0 8px var(--evenUserGray);
}

.resumeDetailsWrapper>div>h1 {
  text-transform: uppercase;
}

.resumeDetailsWrapper>div>div {
  font-size: large;
  gap: 2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 0.2rem;
}

.userGeneralData {
  position: relative;
  /* background-color: red; */
}

.backButton {
  position: absolute;
  left: -6rem;
  top: 4px;
  text-decoration: underline;
  font-size: 1.6rem;
}

.userGeneralData>div {
  font-size: 1.8rem;
}

.userGeneralData>div,
.userExperience>div,
.userSkills>div {
  font-weight: bold;
  font-size: 1.7rem;
  color: gray;
}

.userSkills>div {
  display: flex;
  flex-wrap: wrap;
}

.userGeneralData>div>code,
.userExperience>div>code,
.userSkills>div>code,
.userPhoneNumber>div>code {
  color: var(--dark);
  font-size: 1.6rem;
}

.userSkills>div>code,
.userPhoneNumber>code {
  background-color: lightgray;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.ResumeFileBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ResumeFileContainer {
  width: 70%;
  height: 85%;
  background-color: var(--white);
  border-radius: 8px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  animation: resumeAnimate 0.3s ease-in-out;
  background-color: #dedede;
}

.ResumeFileContainer canvas {
  margin: 1px auto;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes resumeAnimate {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeResumeBtn {
  position: absolute;
  right: 0;
  top: 0;
}