.user-role{
  padding: 0;
  width: fit-content;
  max-width: 3rem;
  border: 2px solid gray;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.admin-edit {
  display: flex;
  justify-content: space-around;
  font-size: medium;
  cursor: pointer;
}

.user-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.today-b-day{
  background-color: rgb(23, 172, 23);
  padding: 0.5rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}