header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgb(110, 109, 109);
  color: #fff;
  /* background-color: var(--mainDarkBackground); */
  /* background: linear-gradient(135deg, #2b8bca, #121e2a); */
  padding: 1rem 0;
}

nav{
  padding: 0 1rem;
}

nav > div {
  column-gap: 3rem;
}

.main {
  height: 100vh;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-align: center;
  color: #fff;

  font-family: 'Inconsolata', monospace;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.link-container a{
  padding: .2rem .6rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 2px 1px 5px gray;
  color: #fff;
  text-decoration: none;
}
.link-container a:hover{
  background-color: rgba(65, 105, 225, 0.621);
}