
.HomePage > div > div{
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
.HomePage{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.userInfo__FizmasoftInfo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-4);
  color: var(--accent-a11);
  font-size: 7rem;
  line-height: 1;
  font-weight: 500;
}
.FizmasofotInfoContainer > .AboutFizmasoft{
  font-size: 33px;
  font-weight: 700;
  padding-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}
.FizmasofotInfoContainer{
  flex: 1;
}
.CardContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: max-content;
}
.DevCard{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 1rem;
  max-width: 25rem;
  max-height: 15rem;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 1rem;
}