.chatLayoutContainer {
	margin: auto 3rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	user-select: text;
}

.chatPlace {
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 3px darkgray;
}


/** ========== Users Sidebar ========== */
.usersSidebar {
	flex: 1;
	padding: 2rem 1rem;
	background-color: var(--white);
	box-shadow: 0 0 10px lightgray;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all 0.2s;

	position: sticky;
	top: 1rem;
}

.usersListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;

}

.usersListContainer>h2 {
	transition: all .15s;
}

.usersShowHide {
	position: absolute;
	color: orangered;
	cursor: pointer;
	font-size: 4rem;
	/* left: 1rem; */
	top: -1.4rem;
	z-index: 2;
}

.userCard {
	position: relative;
	padding: 0.4rem;
	padding-top: 0.8rem;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	background-color: rgb(237, 237, 237);
	gap: 1rem;
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.userCard:hover {
	background-color: rgb(220, 220, 220);
}

.userCard>img {
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
}

.userCard>span:last-child {
	font-size: 1.7rem;
	color: var(--dark);
}

.unreadMsg {
	position: absolute;
	right: 1rem;
	top: 0.3rem;
	background-color: orange;
	padding: 0rem 0.8rem;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}

/* ======================================== */


/** =============== Chatting Place  =============== */

.conversationPath {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.receiverHeader {
	padding: 0.8rem 1rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: start;
	gap: 0.7rem;
	background-color: lightgray;
	z-index: 2;
}

.receiverHeader>img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
}

.receiverHeader>span {
	font-size: 1.7rem;
}

.chatInputPart {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.chatInputPart>input {
	width: 100%;
	padding: 0.7rem;
	font-size: medium;
}

.chatInputPart>button {
	padding: 0.7rem;
	border: none;
}