.modal-backdrop {
  background-color: transparent;
  width: 100%;
  z-index: 10;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.modal>div {
  z-index: 30;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 6rem 2rem 2rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.modal>div>div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal>div>div>button {
  font-size: medium;
  padding: 0.3rem 1.5rem;
}

.modal-options a {
  color: var(--white);
  text-decoration: none;
}

.p-bar-container{
  border: 1px solid lightgray;
  width: 100%;
  height: 1rem;
}

.p-bar-container, .p-bar {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.p-bar{ 
  height: 100%;
  background: linear-gradient(135deg, lightblue, royalblue, blue);
}