:root {
  --dark: #121111;
  --lightTextColor: #D8D8D8;
  --white: #fff;

  --lightGrayBackground: #f4f4f4;
  --darkBackground: #222;

  --oddUserGray: rgb(240, 240, 240);
  --evenUserGray: rgb(186, 185, 185);

}

body {
  background: var(--lightGrayBackground);
  user-select: none;
}

.landing-page {
  height: 100vh;
  background-size: cover;
}

.sad-emoji {
  font-size: 4rem;
  color: orange;
}

.loaderr {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #FFF;
  background-color: transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  -webkit-animation: rotation 1s linear infinite;
}

.loaderr::after,
.loaderr::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: lightblue;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
  -webkit-animation: animloader 1s infinite ease-in-out;
  -webkit-transform: scale(0.5) translate(0, 0);
  -moz-transform: scale(0.5) translate(0, 0);
  -ms-transform: scale(0.5) translate(0, 0);
  -o-transform: scale(0.5) translate(0, 0);
}

.loaderr::before {
  background-color: var(--oddUser);
  transform: scale(0.5) translate(-48px, -48px);
  -webkit-transform: scale(0.5) translate(-48px, -48px);
  -moz-transform: scale(0.5) translate(-48px, -48px);
  -ms-transform: scale(0.5) translate(-48px, -48px);
  -o-transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.pageAnimation {
  animation: toLeft 0.4s 1;
  -webkit-animation: toLeft 0.4s 1;
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}